body {
    text-align: center;
    margin: 0;
    padding-top: 800px;
}

.profile {
    width: 200px;
    height: 275px;
    margin-bottom: 50px;
    border-radius: 50%;
}

#welcome {
    position: absolute;
    overflow: hidden;
    height: 400px;
    color: black;
    background: linear-gradient(#ffffff 0%, #ffc421 100%);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 0.83;
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
}

.parallax-inner {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

h1 {
    margin-top: 40px;
    font-size: 40px;
    line-height: 1.2;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.line {
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 6px auto;

}

p {
    font-size: 30px;
    margin-left: 250;
    margin-right: 250px;
    padding: 80px;
    margin-top: -80px;
    text-align: justify;
}

.links {
    float: left;
    color: black;
    padding-top: 5px;
    padding-right: 9px;
    padding-left: 9px;
    padding-bottom: 5px;
    font-family: "cinzel decorative";
    font-size: 20px;
}

.menu {
    list-style: none;
    font-family: cursive;
    position: absolute;
    top: 10px;
    right: 30px;
    z-index: 10;
    cursor: pointer;
}

.links:hover {
    background-color: rosybrown;
}

#name {
    font-family: "cinzel decorative", cursive;
    font-size: 30px;
    line-height: 1.2;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.button {
    margin: 20px 20px 20px 20px;
    font-size: 20px;
}

.name{
    margin: 30px;
    font-size: 30px;
    line-height: 1.2;
    font-family: sans-serif;
}

.img{
    height: 500px;
    width: 500px;
    margin: 30px auto;
}

.span{
    justify-content: center;
    display: flex;
}

.span2{
    justify-content: center;
    display: flex;
}

.span3{
    justify-content: center;
    display: flex;
}